* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'cpromed';
    src: url(../assets/fonts/CeraPro-Medium.ttf);
}
@font-face {
    font-family: 'cproreg';
    src: url(../assets/fonts/CeraPro-Regular.ttf);
}
@font-face {
    font-family: 'gbook';
    src: url(../assets/fonts/gotham_book.otf);
}
body {
    width: 100%;
    height: fit-content;

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #0b0b0b;
        gap: 60px;
        
        .top {
            padding: 120px 200px 0px;
            display: flex;
            flex-direction: row;
            gap: 160px;
            justify-content: center;

            .container {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .name {
                    font-family: 'cpromed';
                    font-size: 24px;
                    color: #FFFFFF;
                    font-weight: 500;
                }
                .cont {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    a {
                        color: #E6E6E6;
                        font-family: 'cproreg';
                        font-size: 20px;
                        text-decoration: none;
                        font-weight: 400;
                    }
                    .m {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                    .icons {
                        display: flex;
                        gap: 16px;
                        img {
                            width: 36px;
                            height: 36px;
                        }
                    }
                }
            }
        }
        .mid {
            margin-left: 200px;
            margin-right: 200px;
            border: 1px solid #646464;
        }
        .bot {
            padding: 0px 200px 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 80px;
            p {
                font-family: 'gbook';
                font-size: 20px;
                color: #646464;
                font-weight: 500;
            }
            .prava {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 12px;
            }
            a {
                font-family: 'gbook';
                font-size: 20px;
                color: #646464;
                font-weight: 500;
                text-decoration: underline;
            }
        }
    }
}