<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <title>Header</title>
</head>
<body>
    <header>
        <img src="../assets/icons/logo.svg" alt="logo">
        <div class="container">
            <div class="inbut">
                <input placeholder="Найди свой товар">
                <button><img src="../assets/icons/search.svg"></button>
            </div>
            <div class="botcon">
                <a href="">Каталог товаров</a>
                <a href="">Новинки</a>
                <a href="">Популярные</a>
                <a href="">Доставка и оплата</a>
                <a href="">Контакты</a>
            </div>
        </div>
        <div class="lk">
            <a><img src="../assets/icons/bag.svg" alt="">/a>
            <a><img src="../assets/icons/user.svg" alt=""></a>
        </div>
    </header>
</body>
</html>