* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "cpromed";
  src: url(../assets/fonts/CeraPro-Medium.ttf);
}
@font-face {
  font-family: "cproreg";
  src: url(../assets/fonts/CeraPro-Regular.ttf);
}
@font-face {
  font-family: "gbook";
  src: url(../assets/fonts/gotham_book.otf);
}
@font-face {
  font-family: "onder";
  src: url(../assets/fonts/Onder.ttf);
}
body {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
body header {
  padding: 50px 100px;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 40px;
  justify-content: flex-start;
  background-color: #0b0b0b;
}
body header .container {
  display: flex;
  flex-direction: row;
  gap: 36px;
  width: 60%;
}
body header .container button {
  width: 20%;
  padding: 12px;
  font-size: 20px;
  font-family: "cproreg";
  color: #0b0b0b;
}
body header .container button.active {
  background-color: #007bff;
  color: white;
}
body section {
  padding: 100px;
}
body section .tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  gap: 40px;
}
body section .tab-content form {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body section .tab-content form p {
  font-size: 36px;
  font-family: "cpromed";
}
body section .tab-content form input {
  padding: 10px;
  font-size: 14px;
  font-family: "cpromed";
}
body section .tab-content form textarea {
  font-size: 14px;
  font-family: "cpromed";
  width: fixed;
  min-width: 100%;
  max-width: 100%;
}
body section .tab-content.active {
  display: block;
}
body section #orders {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 40px;
}
body section #orders .orders-header {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body section #orders .orders-header h1 {
  font-size: 36px;
  font-family: "cproreg";
}
body section #orders .orders-header .orders-count {
  font-size: 20px;
  font-family: "cpromed";
}
body section #orders .orders-header .orders-count span {
  font-size: 28px;
  color: #007bff;
}
body section #orders .orders-grid {
  width: 60%;
  flex-direction: column;
  display: flex;
  gap: 40px;
}
body section #orders .orders-grid .order-card-admin {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  border: 1px solid #007bff;
  padding: 12px;
}
body section #orders .orders-grid .order-card-admin .order-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body section #orders .orders-grid .order-card-admin .order-header .order-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
body section #orders .orders-grid .order-card-admin .order-header .order-info h3 {
  width: 30%;
  font-size: 24px;
  font-family: "cproreg";
  font-weight: 500;
  padding: 4px;
  color: #fff;
  background-color: #007bff;
}
body section #orders .orders-grid .order-card-admin .order-header .order-info span {
  font-size: 20px;
  font-family: "cpromed";
  color: #007bff;
}
body section #orders .orders-grid .order-card-admin .order-header .order-date {
  font-size: 24px;
  font-family: "cpromed";
}
body section #orders .orders-grid .order-card-admin .lol {
  width: 100%;
  display: flex;
  gap: 40px;
}
body section #orders .orders-grid .order-card-admin .lol .order-details-grid {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body section #orders .orders-grid .order-card-admin .lol .order-details-grid .order-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #007bff;
  padding: 4px;
}
body section #orders .orders-grid .order-card-admin .lol .order-details-grid .order-detail .detail-label {
  font-size: 20px;
  font-family: "cpromed";
  color: #fff;
}
body section #orders .orders-grid .order-card-admin .lol .order-details-grid .order-detail .detail-value {
  font-size: 22px;
  font-family: "cpromed";
  color: #fff;
}
body section #orders .orders-grid .order-card-admin .lol .order-items-section {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 10px;
}
body section #orders .orders-grid .order-card-admin .lol .order-items-section h4 {
  font-size: 18px;
  font-family: "cproreg";
  font-weight: 500;
}
body section #orders .orders-grid .order-card-admin .lol .order-items-section .order-items-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}
body section #orders .orders-grid .order-card-admin .lol .order-items-section .order-items-list .order-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
body section #orders .orders-grid .order-card-admin .lol .order-items-section .order-items-list .order-item .item-image {
  display: flex;
  width: 60%;
}
body section #orders .orders-grid .order-card-admin .lol .order-items-section .order-items-list .order-item .item-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body section #orders .orders-grid .order-card-admin .lol .order-items-section .order-items-list .order-item .item-info .item-name {
  font-size: 24px;
  font-family: "cpromed";
}
body section #orders .orders-grid .order-card-admin .lol .order-items-section .order-items-list .order-item .item-info .item-details {
  display: flex;
  flex-direction: column;
}
body section #orders .orders-grid .order-card-admin .lol .order-items-section .order-items-list .order-item .item-info .item-details span {
  font-size: 18px;
  font-family: "cpromed";
}
body section #orders .orders-grid .order-card-admin .lol .order-items-section .order-items-list .order-item .item-price {
  font-size: 24px;
  font-family: "cpromed";
  color: #007bff;
}
body section #orders .orders-grid .order-card-admin .stage-actions {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
body section #orders .orders-grid .order-card-admin .stage-actions h4 {
  font-size: 20px;
  font-family: "cproreg";
  font-weight: 400;
}
body section #orders .orders-grid .order-card-admin .stage-actions .stage-buttons {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 40px);
  gap: 10px;
}
body section #orders .orders-grid .order-card-admin .stage-actions .stage-buttons button {
  padding: 4px;
  background-color: white;
}
body section #orders.active {
  display: flex;
}/*# sourceMappingURL=secret-super.css.map */