* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'cpromed';
    src: url(../assets/fonts/CeraPro-Medium.ttf);
}
@font-face {
    font-family: 'cproreg';
    src: url(../assets/fonts/CeraPro-Regular.ttf);
}
@font-face {
    font-family: 'gbook';
    src: url(../assets/fonts/gotham_book.otf);
}
@font-face {
    font-family: 'onder';
    src: url(../assets/fonts/Onder.ttf);
}
body {
    width: 100%;
    height: fit-content;

    header {
        padding: 50px 100px;
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 40px;
        justify-content: flex-start;
        background-color: #0b0b0b;

        .container {
            display: flex;
            flex-direction: row;
            gap: 36px;
            width: 60%;
            button {
                width: 20%;
                padding: 12px;
                font-size: 20px;
                font-family: 'cproreg';
                color: #0b0b0b;
            }
            button.active {
                background-color: #007bff;
                color: white;
            }
        }
    }
    section {
        padding: 100px;
        .tab-content {
            display: none;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            gap: 40px;
            form {
                width: 30%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                p {
                    font-size: 36px;
                    font-family: 'cpromed';
                }
                input {
                    padding: 10px;
                    font-size: 14px;
                    font-family: 'cpromed';
                }
                textarea {
                    font-size: 14px;
                    font-family: 'cpromed';
                    width: fixed;
                    min-width: 100%;
                    max-width: 100%;
                }
            }
        }
        .tab-content.active {
            display: block;
        }
        #orders {
            width: 100%;
            display: none;
            flex-direction: column;
            gap: 40px;
            .orders-header {
                display: flex;
                gap: 20px;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                h1 {
                    font-size: 36px;
                    font-family: 'cproreg';
                }
                .orders-count {
                    font-size: 20px;
                    font-family: 'cpromed';
                    span {
                        font-size: 28px;
                        color: #007bff;
                    }
                }
            }
            .orders-grid {
                width: 60%;
                flex-direction: column;
                display: flex;
                gap: 40px;
                .order-card-admin {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 20px;
                    border: 1px solid #007bff;
                    padding: 12px;
                    .order-header {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .order-info {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            justify-content: space-between;
                            h3 {
                                width: 30%;
                                font-size: 24px;
                                font-family: 'cproreg';
                                font-weight: 500;
                                padding: 4px;
                                color: #fff;
                                background-color: #007bff;
                            }
                            span {
                                font-size: 20px;
                                font-family: 'cpromed';
                                color: #007bff;
                            }
                        }
                        .order-date {
                            font-size: 24px;
                            font-family: 'cpromed';
                        }
                    }
                    .lol {
                        width: 100%;
                        display: flex;
                        gap: 40px;
                        .order-details-grid {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .order-detail {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                background-color: #007bff;
                                padding: 4px;
                                .detail-label {
                                    font-size: 20px;
                                    font-family: 'cpromed';
                                    color: #fff;
                                }
                                .detail-value {
                                    font-size: 22px;
                                    font-family: 'cpromed';
                                    color: #fff;
                                }
                            }
                        }
                        .order-items-section {
                            display: flex;
                            width: 50%;
                            flex-direction: column;
                            gap: 10px;
                            

                            h4 {
                                font-size: 18px;
                                font-family: 'cproreg';
                                font-weight: 500;
                            }
                            .order-items-list {

                                display: flex;
                                width: 100%;
                                flex-direction: column;
                                .order-item {

                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
                                    gap: 20px;
                                    .item-image {
                                        display: flex;
                                        width: 60%;
                                    }
                                    .item-info {
                                        width: 60%;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 20px;
                                        .item-name {
                                            font-size: 24px;
                                            font-family: 'cpromed';
                                        }
                                        .item-details {
                                            display: flex;
                                            flex-direction: column;
                                            span {
                                                font-size: 18px;
                                                font-family: 'cpromed';
                                            }
                                        }
                                    }
                                    .item-price {
                                        font-size: 24px;
                                        font-family: 'cpromed';
                                        color: #007bff;
                                    }
                                }
                            }
                        }
                    }
                    .stage-actions {
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                        h4 {
                            font-size: 20px;
                            font-family: 'cproreg';
                            font-weight: 400;
                        }
                        .stage-buttons {
                            display: grid;
                            grid-template-columns: repeat(3, 100px);
                            grid-template-rows: repeat(3, 40px);
                            gap: 10px;
                            button {
                                padding: 4px;
                                background-color: white;
                            }
                        }
                    }
                    .order-meta {

                    }
                }
            }
        }
        #orders.active {
            display: flex;
        }
    }
}