<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Футер</title>
</head>
<body>
    <footer>
        <div class="top">
            <div class="container">
                <p class="name">Навигация</p>
                <div class="cont">
                    <a href="">Каталог</a>
                    <a href="">Услуги</a>
                    <a href="">Доставка</a>
                    <a href="">Вопросы</a>
                </div>
            </div>
            <div class="container">
                <p class="name">Категории</p>
                <div class="cont">
                    <a href="">Базовые футболки</a>
                    <a href="">Коллекции футболок</a>
                    <a href="">Мерч под ключ</a> 
                </div>
            </div>
            <div class="container">
                <p class="name">Контакты</p>
                <div class="cont">
                    <div class="m">
                        <img src="../assets/icons/mobile.svg">
                        <a href="tel: +74958231140">+7 (495) 823-11-40</a>
                    </div>
                    <div class="m">
                        <img src="../assets/icons/message-text.svg">
                        <a href="mailto: BlackPencil@ya.ru">BlackPencil@ya.ru</a>
                    </div>
                    <div class="m">
                        <img src="../assets/icons/tut.png">
                        <a>г. Анапа, ул. Астраханская 84а</a>
                    </div>
                    <div class="icons">
                        <a><img src="../assets/icons/wp.svg" alt="whatsapp"></a>
                        <img src="../assets/icons/telegram.svg" alt="telegram">
                        <img src="../assets/icons/vk.svg" alt="vkontakte">
                    </div>
                </div>
            </div>
        </div>
        <div class="mid"></div>
        <div class="bot">
            <p>ALCRAFT 2022-2025</p>
            <div class="prava">
                <img src="../assets/icons/c.svg">
                <p>Все права защищены</p>
            </div>
            <a>Политика конфеденциальности</a>
        </div>
    </footer>
</body>
</html>